/* Default font for all items */
* {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    /* includes all except margin in width, height.  Way better than default*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}

/* The instructions say to use 960 as width so I did.  I didnt really want to do this */
/* because I want it to be mroe flexible based on window size, platform etc. */
body {
    background-color: #777;
    color: #777;
    width: 960px;
    font-size: '18px';
}

/* header nav and footer mostly same.  Using line-height=height allows for vertical centering */
header,
nav,
footer {
    margin: 0px auto 1.5% auto;
    width: 100%;
    height: 75px;
    line-height: 75px;
    text-align: center;
    border: 1px solid #ebebeb;
    background-color: #ebebeb;
    color: #777;
    opacity: 1;
}

/* This seems to be the best way to veritcally align text inside box  vertical-aign doesnt work */
span.vCenter {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

/* Slightly smaller margin after header*/
header {
    margin: 0px auto 1% auto;
}

/* Container is used to provide flex display for better positioning control of items within it */
.container {
    display: flex;
    justify-items: center;
}

/* section on left about 2/3rds and aside on right.  Very simlar otherwise */
/* I did not fix these widths because I wanted them to be sized based on their */
/* container and browser etc.  Fixing the width vs using % is just too restrictive */
section,
aside {
    height: auto;
    line-height: 50px;
    text-align: center;
    border: 1px solid #ebebeb;
    background-color: #ebebeb;
    color: #777;
}

/* This has table inside so inline-table worked much better than inline-block */
section {
    display: inline-table;
    width: 60%;
    margin: 0 1.5% 1.5% auto;
}

aside {
    display: inline-block;
    width: 38.5%;
    margin: 0 auto 1.5% 0;
}

/* This was used when I was using float for the boxes.  Using float was a pain and */
/* not recommended for this situation, but I left this in here so I can remember that */
/* you must always clear the floats after using so the rest of html gets back on normal flow */
/* float should really just be used when you want stuff to truly float / wrap around something */
footer {
    clear: both;
    margin-bottom: 0;
}

/* Common table styles */
table {
    border-collapse: collapse;
    width: 95%;
    margin: 0 auto 1% auto;
    line-height: 15px;
}

/* Most items I want same for tr, td and th in this case */
tr,
td,
th {
    border: 6px solid #777;
    background-color: #ebebeb;
    color: #777;
    padding: 0%;
    margin: 0%;
    font-weight: normal;
}

/* Atricle is different color - basically the opposite */
th {
    background-color: #777;
    color: #ebebeb;
    line-height: 40px;
}

/* header and paragraph */
h1,
p {
    background-color: #ebebeb;
    color: #777;
}

/* just to bold a small part */
.emphasize {
    font-weight: bold;
}