/* Default font for all items */
* {
    font-family: "SF Pro", Arial, Helvetica, sans-serif;
    box-sizing: border-box;  /* includes all except margin in width, height: */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

}
body {
    background-color: lightgray;
}

header, 
nav,
footer {
    border: 1px solid lightgray;
    width: 100%;
    height: 100px;
    line-height: 100px;
    margin: 0px auto 1.5% auto;
    text-align: center;
    background-color: white;
    color: gray;
    opacity: 1;
}
/* This seems to be the best way to veritcally align text inside box  vertical-aign doesnt work */
span.vCenter {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
section {
    display: inline-table;
    border: 1px solid lightgray;
    width: 60%;
    height: 200px;
    line-height: 100px;
    margin: 0 1.5% 1.5% auto;
    text-align: center;
    background-color: white;
    color: gray;
    opacity: 1;
}
aside {
    display: inline-block;
    border: 1px solid lightgray;
    width: 37.5%;
    height: 200px;
    line-height: 100px;
    margin: 0 auto 1.5% 0;
    text-align: center;
    background-color: white;
    color: gray;
    opacity: 1;
}
footer {
    clear: both;
    margin-bottom: 0;  
}

h1 {
    color: red;
}

table
{
    /* display: inline-block; */
    font-family: "SF Pro", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 95%;
    margin: 0 auto 1.5% auto;
}

td,
th {
    border: 1px solid #ddd;
    padding: 0%;
}

th {
    padding-top: 0%;
    padding-bottom: 0%;
    background-color: gray;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: rgb(127, 174, 245);
}

/* Bonus lternate way of separating links without line breaks */
/* put space between links */
a.nav-link {
    padding: 0px 10px;
    word-wrap: normal;
    display: inline-block;
}