/* Default font for all items */
* {
    font-family: "SF Pro", Arial, Helvetica, sans-serif;
    /* includes all except margin in width, height.  Way better than default*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}

body {
    background-color: gray;
}

/* header nav and footer mostly same.  Using line-height=height allows for vertical centering */
header,
nav,
footer {
    margin: 0px auto 1.5% auto;
    border: 1px solid lightgray;
    width: 100%;
    height: 75px;
    line-height: 75px;
    text-align: center;
    background-color: white;
    color: gray;
    opacity: 1;
}

/* This seems to be the best way to veritcally align text inside box  vertical-aign doesnt work */
span.vCenter {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

/* Slightly smaller margin after header*/
header {
    margin: 0px auto 1% auto;
}

/* Container is used to provide flex display for better positioning control of items within it */
.container {
    display: flex;
    justify-items: center;
}

/* section on left about 2/3rds and aside on right.  Very simlar otherwise */
section,
aside {
    border: 1px solid lightgray;
    height: auto;
    line-height: 50px;
    text-align: center;
    background-color: white;
    color: gray;
    opacity: 1;
}

/* This has table inside so inline-table worked much better than inline-block */
section {
    display: inline-table;
    width: 60%;
    margin: 0 1.5% 1.5% auto;
}

aside {
    display: inline-block;
    width: 38.5%;
    margin: 0 auto 1.5% 0;
}

/* This was used when I was using float for the boxes.  Using float was a pain and */
/* not recommended for this situation, but I left this in here so I can remember that */
/* you must always clear the floats after using so the rest of html gets back on normal flow */
/* float should really just be used when you want stuff to truly float / wrap around something */
footer {
    clear: both;
    margin-bottom: 0;
}

/* Common table styles */
table {
    /* display: inline-block; */
    font-family: "SF Pro", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 95%;
    margin: 0 auto 1% auto;
}

/* Most items I want same for tr, td and th in this case */
tr,
td,
th {
    border: 6px solid gray;
    color: gray;
    background-color: white;
    padding: 0%;
    margin: 0%;
    font-weight: normal;
}

/* Header is different color - basically the opposite */
th {
    background-color: gray;
    color: white;
}

/* just to bold a small part */
.emphasize {
    font-weight: bold;
}